{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module"
    },
    "extends": "airbnb",
    "plugins": [
        "import"
    ],
    "rules": {
        "indent": ["error", 4],
        "comma-dangle": 0,
        "arrow-parens": ["error", "as-needed"],
        "max-len": ["error", 120],
        "no-shadow": 0,
        "linebreak-style": 0,

        "import/no-extraneous-dependencies": 0,

        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}
