{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module"
    },
    "extends": "airbnb",
    "plugins": [
        "import"
    ],
    "rules": {
        "indent": ["error", 4],
        "comma-dangle": 0,
        "arrow-parens": ["error", "as-needed"],
        "max-len": ["error", 120],
        "import/no-extraneous-dependencies": 0
    }
}
